<!DOCTYPE html>
<html>
<head>
    <title>Nuclei Security Scanner</title>
</head>
<body>

<h1>Nuclei Security Scanner</h1>

<form action="/scan" method="post" onsubmit="document.getElementById('msg').innerHTML='Scanning... please wait';">
    <input name="target" placeholder="https://example.com" required>
    <button type="submit">Scan</button>
</form>

<p id="msg"></p>

{% if target %}
    <h2>Results for {{ target }}</h2>

    {% if findings %}
        <table border="1" cellpadding="6">
            <tr>
                <th>Severity</th>
                <th>Template</th>
                <th>Missing Header</th>
                <th>URL</th>
                <th>Description</th>
            </tr>

            {% for f in findings %}
            <tr>
                <td>{{ f.get("info", {}).get("severity", "") }}</td>
                <td>{{ f.get("info", {}).get("name", "") }}</td>
                <td>{{ f.get("matcher-name", "") }}</td>
                <td>{{ f.get("matched-at", "") }}</td>
                <td>{{ f.get("info", {}).get("description", "") }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No missing security headers found.</p>
    {% endif %}

    {% if stderr %}
        <h3>Nuclei messages</h3>
        <pre>{{ stderr }}</pre>
    {% endif %}
{% endif %}
    {% if findings %}
  <a href="/download?file={{ output_file }}" class="btn-download">
    ⬇ Download JSONL Results
  </a>
{% endif %}

</body>
</html>
